---
import Card from "../components/Card.astro";

type AboutUsCard = {
  title: string;
  icon: string;
  content: string;
};

let ContentCard: AboutUsCard[] = [
  {
    title: "Soluciones a Medida",
    content:
      "Cada proyecto es único. Desarrollamos soluciones tecnológicas personalizadas que se adaptan perfectamente a tus necesidades.",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M11.017 2.814a1 1 0 0 1 1.966 0l1.051 5.558a2 2 0 0 0 1.594 1.594l5.558 1.051a1 1 0 0 1 0 1.966l-5.558 1.051a2 2 0 0 0-1.594 1.594l-1.051 5.558a1 1 0 0 1-1.966 0l-1.051-5.558a2 2 0 0 0-1.594-1.594l-5.558-1.051a1 1 0 0 1 0-1.966l5.558-1.051a2 2 0 0 0 1.594-1.594zM20 2v4m2-2h-4"/><circle cx="4" cy="20" r="2"/></g></svg>`,
  },
  {
    title: "Respuesta Rápida",
    content:
      "Soporte dedicado y tiempos de respuesta ágiles para que tu negocio nunca se detenga.",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0-18 0"/><path d="M12 7v5l3 3"/></g></svg>`,
  },
  {
    title: "Impulsados por IA",
    content:
      "Integramos inteligencia artificial en nuestros procesos para ofrecer soluciones más innteligentes y eficientes",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256"><path fill="#13daec" d="M152 96h-48a8 8 0 0 0-8 8v48a8 8 0 0 0 8 8h48a8 8 0 0 0 8-8v-48a8 8 0 0 0-8-8m-8 48h-32v-32h32Zm88 0h-16v-32h16a8 8 0 0 0 0-16h-16V56a16 16 0 0 0-16-16h-40V24a8 8 0 0 0-16 0v16h-32V24a8 8 0 0 0-16 0v16H56a16 16 0 0 0-16 16v40H24a8 8 0 0 0 0 16h16v32H24a8 8 0 0 0 0 16h16v40a16 16 0 0 0 16 16h40v16a8 8 0 0 0 16 0v-16h32v16a8 8 0 0 0 16 0v-16h40a16 16 0 0 0 16-16v-40h16a8 8 0 0 0 0-16m-32 56H56V56h144z"/></svg>`,
  },
  {
    title: "Creatividad Efectiva",
    content:
      "Combinamos diseños innovadores con funcionalidad práctica para crear experiencias digitales memorables",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 32 32"><path fill="#13daec" d="M11 24h10v2H11zm2 4h6v2h-6zm3-26A10 10 0 0 0 6 12a9.19 9.19 0 0 0 3.46 7.62c1 .93 1.54 1.46 1.54 2.38h2c0-1.84-1.11-2.87-2.19-3.86A7.2 7.2 0 0 1 8 12a8 8 0 0 1 16 0a7.2 7.2 0 0 1-2.82 6.14c-1.07 1-2.18 2-2.18 3.86h2c0-.92.53-1.45 1.54-2.39A9.18 9.18 0 0 0 26 12A10 10 0 0 0 16 2"/></svg>`,
  },
];
---

<section id="nosotros" class:list={["text-center grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-[5fr_7fr] mt-20"]}>
  <div class="grid grid-cols-1 mx-auto px-0 md:px-0">
    <h2 class="text-[#13daec] text-xl md:text-3xl lg:text-3xl">
      POR QUÉ ELEGIRNOS
    </h2>
    <h2 class="text-4xl px-10 py-4 md:py-0 lg:py-0 font-bold md:text-6xl lg:text-6xl">
      Tu éxito es nuestra <span
        class="bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent"
        >prioridad</span
      >
    </h2>
    <p class="text-xl md:text-2xl lg:text-2xl px-4 text-[#94a3b8]">
      En Elemental, nos comprometemos a entregar resultados excepcionales.
      Nuestro equipo combina experiencia técnica con visión estratégica para
      impulsar tu crecimiento.
    </p>
    <div class="flex justify-evenly">
      <div>
        <span class="text-4xl font-bold text-[#13daec]">98%</span>
        <p>Satisfacción</p>
      </div>
      <div>
        <span class="text-4xl font-bold text-[#8152e0]">50+</span>
        <p>Proyectos</p>
      </div>
      <div>
        <span class="text-4xl font-bold text-[#13daec]">24/7</span>
        <p>Soporte</p>
      </div>
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-col-2 lg:grid-cols-2 gap-4  p-8 text-start"
  >
    {
      ContentCard.map((card) => (
        <Card
          icon={card.icon}
          title={card.title}
          content={card.content}
          variant="services"
        />
      ))
    }
  </div>
</section>
