---
import Card from "../components/Card.astro"

type TeamType = {
  title: string;
  content: string,
  initials: string,
  position: string
};

let ContentCard: TeamType[] = [
  {
    title: "Fernando Zavala Elizondo",
    content: "Backend Developer",
    initials: "FZ",
    position: "Project Management Professional"
  },
  {
    title: "José Angel Cano Fortiz",
    content: "Frontend Developer",
    initials: "JC",
    position: "Lead Frontend Developer"
  },
  {
    title: "Israel Hernadez Dorantes",
    content: "Software Developer",
    initials: "IH",
    position: "Lead IA Developer"
  },
  {
    title: "Mario Alberto Martinez Vazquez",
    content: "FullStack Developer",
    initials: "MV",
    position: "Teach Lead"
  },
  {
    title: "Jonathan Santos Mejía",
    content: "DevOps ",
    initials: "JS",
    position: "DevOps"
  },
];
---
<section id="equipo" class="mt-20">
  <div class="grid mx-auto px-0 md:w-full lg:w-8/12 md:px-10 text-center">
    <h2 class="text-[#13daec] text-xl md:text-3xl lg:text-3xl">Nuestro Equipo</h2>
    <h2 class="text-4xl px-10 py-4 font-bold md:text-6xl lg:text-6xl">
      Mentes creativas <span
        class="bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent"
        >Detras de Elemental</span
      >
    </h2>
    <p class="text-xl md:text-2xl lg:text-2xl px-12 text-[#94a3b8]">
      Un equipo multidiciplinario apasionado por la tecnología y la innovación.
    </p>
  </div>
  <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 md:gap-4 text-center">
    {
      ContentCard.map(({title, content, initials, position}) => (
        <Card title={title} position={position} content={content} initials={initials} variant="team"/>
      ))
    }
  </div>
</section>