---
import Card from "../components/Card.astro";

type ServiceCard = {
  title: string;
  icon: string;
  content: string;
};
let ContentCard: ServiceCard[] = [
  {
    title: "Lading Page de Alto Impacto",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 48 48"><g fill="none" stroke="#13daec" stroke-width="3"><path stroke-linejoin="round" d="M3 24a21 21 0 1 0 42 0a21 21 0 1 0-42 0"/><path stroke-linejoin="round" d="M15 24a9 21 0 1 1 18 0a9 21 0 1 1-18 0"/><path stroke-linecap="round" d="M4.5 31h39m-39-14h39"/></g></svg>`,
    content:
      "Diseño y desarrollo de páginas de destino optimizadas para conversión y experiencia de usuario.",
  },
  {
    title: "Marketing Digital",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#13daec" d="M21.92 6.62a1 1 0 0 0-.54-.54A1 1 0 0 0 21 6h-5a1 1 0 0 0 0 2h2.59L13 13.59l-3.29-3.3a1 1 0 0 0-1.42 0l-6 6a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0L9 12.41l3.29 3.3a1 1 0 0 0 1.42 0L20 9.41V12a1 1 0 0 0 2 0V7a1 1 0 0 0-.08-.38"/></svg>`,
    content:
      "Estrategias de crecimiento y marketing digital para potencias tu presencia online.",
  },
  {
    title: "Desarrollo Web a Medida",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m16 18l6-6l-6-6M8 6l-6 6l6 6"/></svg>`,
    content:
      "Aplicaciones web personalizadas con las últimas teconologías y mejores prácticas.",
  },
  {
    title: "Apps Móviles IOS/Android",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 16 16"><path fill="#13daec" fill-rule="evenodd" d="M5 1.5h6a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5H5a.5.5 0 0 1-.5-.5V2a.5.5 0 0 1 .5-.5M3 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2zm5 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2" clip-rule="evenodd"/></svg>`,
    content:
      "Desarrollo de apicaciones móviles nativas y multiplataforma de alto rendimiento.",
  },
  {
    title: "Consultoría Tecnológica",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 0 0 2.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 0 0 1.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 0 0-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 0 0-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 0 0-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 0 0-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 0 0 1.066-2.573c-.94-1.543.826-3.31 2.37-2.37c1 .608 2.296.07 2.572-1.065"/><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0-6 0"/></g></svg>`,
    content:
      "Análisis de procesos y asesoramiento para optimizar tu infraestructura tecnológica.",
  },
  {
    title: "Automatización de Procesos",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256"><path fill="#13daec" d="M152 96h-48a8 8 0 0 0-8 8v48a8 8 0 0 0 8 8h48a8 8 0 0 0 8-8v-48a8 8 0 0 0-8-8m-8 48h-32v-32h32Zm88 0h-16v-32h16a8 8 0 0 0 0-16h-16V56a16 16 0 0 0-16-16h-40V24a8 8 0 0 0-16 0v16h-32V24a8 8 0 0 0-16 0v16H56a16 16 0 0 0-16 16v40H24a8 8 0 0 0 0 16h16v32H24a8 8 0 0 0 0 16h16v40a16 16 0 0 0 16 16h40v16a8 8 0 0 0 16 0v-16h32v16a8 8 0 0 0 16 0v-16h40a16 16 0 0 0 16-16v-40h16a8 8 0 0 0 0-16m-32 56H56V56h144z"/></svg>`,
    content:
      "Optimización digital y automatización para mejorar la eficiencia operativa.",
  },
  {
    title: "Soluciones con IA",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M12 18V5m3 8a4.17 4.17 0 0 1-3-4a4.17 4.17 0 0 1-3 4m8.598-6.5A3 3 0 1 0 12 5a3 3 0 1 0-5.598 1.5"/><path d="M17.997 5.125a4 4 0 0 1 2.526 5.77"/><path d="M18 18a4 4 0 0 0 2-7.464"/><path d="M19.967 17.483A4 4 0 1 1 12 18a4 4 0 1 1-7.967-.517"/><path d="M6 18a4 4 0 0 1-2-7.464"/><path d="M6.003 5.125a4 4 0 0 0-2.526 5.77"/></g></svg>`,
    content:
      "Implementación de herramientas y sistemas basados en inteligencia artificial.",
  },
  {
    title: "Branding Digital",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M12 22a1 1 0 0 1 0-20a10 9 0 0 1 10 9a5 5 0 0 1-5 5h-2.25a1.75 1.75 0 0 0-1.4 2.8l.3.4a1.75 1.75 0 0 1-1.4 2.8z"/><circle cx="13.5" cy="6.5" r=".5" fill="#13daec"/><circle cx="17.5" cy="10.5" r=".5" fill="#13daec"/><circle cx="6.5" cy="12.5" r=".5" fill="#13daec"/><circle cx="8.5" cy="7.5" r=".5" fill="#13daec"/></g></svg>`,
    content:
      "Creación de identidad visual y branding para empresas emergentes y establecidas.",
  },
  {
    title: "Soporte Continuo",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none" stroke="#13daec" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M21.25 17.368V12A9.25 9.25 0 0 0 12 2.75v0A9.25 9.25 0 0 0 2.75 12v5.368"/><path d="M2.75 13.321h4a1.5 1.5 0 0 1 1.5 1.5v4.429a2 2 0 0 1-2 2h-1.5a2 2 0 0 1-2-2zm13 1.5a1.5 1.5 0 0 1 1.5-1.5h4v5.929a2 2 0 0 1-2 2h-1.5a2 2 0 0 1-2-2z"/></g></svg>`,
    content:
      "Mantenimieno y soporte tecnológico 24/7 para asegurar la continuidad de tu negocio.",
  },
];
---

<section id="servicios" class:list={["text-center"]}>
    <div class="grid mx-auto px-0 md:w-full lg:w-8/12 md:px-10 text-center">
      <h2 class="text-[#13daec] text-xl md:text-3xl lg:text-3xl">Servicios</h2>
      <h2 class="text-4xl px-10 py-4 font-bold md:text-6xl lg:text-6xl">Soluciones <span class="bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent">tecnológicas integrales</span></h2>
      <p class="text-xl md:text-2xl lg:text-2xl px-4 text-[#94a3b8]">
        Ofrecemos un portafolio completo de servicios diseñados para impulsar la
        transformación digital de tu empresa.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-col-2 lg:grid-cols-3 gap-4 md:gap-8 p-8 text-start">
      {
        ContentCard.map((item) => (
          <Card
            icon={item.icon}
            title={item.title}
            content={item.content}
            variant="services"
          />
        ))
      }
    </div>
</section>
