<section class="mt-20">
  <div class="grid mx-auto px-0 md:w-full lg:w-8/12 md:px-10 text-center">
    <h2 class="text-[#13daec] text-xl md:text-3xl lg:text-3xl">TECNOLOGÍAS</h2>
    <h2 class="text-4xl px-10 py-4 font-bold md:text-6xl lg:text-6xl">
      Stack tecnológico <span
        class="bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent"
        >de vanguardia</span
      >
    </h2>
    <p class="text-xl md:text-2xl lg:text-2xl px-12 text-[#94a3b8]">
      Utilizamos las mejores herramientas y tecnologías para construir soluciones robustas y escalables.
    </p>
  </div>
  <div>
    
  </div>
</section>